In [ ]:
Q1 - Solution 

* -- Expression 
'hello' -- Value
-87.8 -- Value
- -- Expression
/ -- Expression
+ -- Expression
6 -- Value

In [ ]:
Q2- Solution

String: String can be written in quotes eg: "abhi" , "sudh"
Variable: Variable is the thing which stores the data like a container

In [ ]:
Q3- Solution

Integer -- Integer can only store the numerical values.
Set -- Set helps to remove the duplicates.
List -- List helps to store multiple data items in single variable.
Float -- Float can store only floating variable.

In [ ]:
Q4- Solution

Expressions are made up of values,containers & mathematical operators.
Eg:- z = 4 +9. Expressions are used to evaluate the value and present the outcome.

In [ ]:
Q5- Solution

Expressions are made up of values,containers & mathematical operators 
whereas the statement is just a command that a python interpreter executes eg: print

In [ ]:
Q6- Solution

The Variable Bacon contains 23 as solution. Working as below:

In [2]:
bacon = 22

In [3]:
bacon + 1

23

In [ ]:
Q7- Solution

The values will remain the for both the terms.Please find the working as below:

In [4]:
"spam" + "spamspam"

'spamspamspam'

In [5]:
"spam"*3

'spamspamspam'

In [ ]:
Q8- Solution

Because we cannot start a variable with integer name, if we have too then we should start the alphabet name then an integer.
eg: a100 or abhi100.

In [ ]:
Q9- Solution

str(), int() , float()

In [ ]:
Q10- Solution

The reason why expression cause an error is beacuse 99 is an integer and hence it cannot be concatenated with strings.
If we have to do concatenate then we will have to do typecasting.Below is the working for same.

In [9]:
"I have eaten " + str( 99 ) + " burritos"

'I have eaten 99 burritos'